.ToDoContainer{
  border: 2px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.TaskInput{
  width: 300px;
  height: 50px;
}
.add-button{
 margin-top: 20px;
 background-color: skyblue;
}